<!DOCTYPE html>

<html>

<title>Smash Weekly</title>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<!-- <script src="../scripts\data.js"></script>
<script src="../scripts\elo_calc.1.0.0.js"></script>
<script src="../scripts\rank-data-injector.1.0.0.js"></script> -->
<link rel="icon" href="icons\favicon.ico" >
<link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body>
 <div class="nav-bar">
    <a class="home" href="index.html"></a>
    <ul class="nav-list">

     <li><a href="/"> <img class="project-m" src="../src\project-m-logo.png" /></a></li>
      <li><a class="list-element active" href="/index">Home</a></li>
      <li><a class="list-element"href="/players">Players</a></li>
      <li><a class="list-element"href="#">Tournaments</a></li>
      <li><a class="list-element"href="#">Archive</a></li>
    </ul>
  </div>
<div class="main-content">
  <div class="section">
    <div class="table-container">
      <tr class="rank-table-row">
        <th> <em> Players </em> </th>
        <th class="table-mains"> <em> Mains </em> </th>
        <th> <em> Wins </em></th>
        <th><em>Losses</em></th>
        <th><em>Win %</em></th>
        <th><em>KO's</em></th>
        <th><em>Falls</em></th>
        <th><em>Elo</em></th>
      </tr>

    </div>
  </div>
</div>
</body>
<footer>(c) Brian Cabigon 2016 </footer>
</html>
